<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>VueFire Todo App Demo</title>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase.js"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/vuex@3"></script>
    <script src="https://unpkg.com/vuexfire"></script>
  </head>

  <body>
    <div id="app">
      <button @click="toggleTodos">Toggle todos</button> <br />
      <input v-model.trim="newTodoText" @keyup.enter="addTodo" placeholder="Add new todo" />
      <ul>
        <li v-for="todo in todos">
          <input :value="todo.text" @input="updateTodoText(todo, $event.target.value)" />
          <button @click="removeTodo(todo)">X</button>
        </li>
      </ul>

      <h4>collection with refs</h4>

      <ul>
        <li v-for="moment in moments">{{ moment }}</li>
      </ul>

      <h5>Original data</h5>

      <ul>
        <li v-for="tweet in tweets">{{ tweet }}</li>
      </ul>

      <p>config:</p>
      <pre>
        {{ config }}
      </pre>
    </div>

    <script>
      /* global Vue, firebase, Vuefire */
      /* Vue.use(Vuexfire.default)*/
      firebase.initializeApp({
        projectId: 'vue-fire-store',
        databaseURL: 'https://vue-fire-store.firebaseio.com',
      })
      var db = firebase.firestore()
      var todos = db.collection('todos')
      var unFinishedTodos = todos.where('finished', '==', false)
      var finishedTodos = todos.where('finished', '==', true)
      let currentTodos = finishedTodos
      var config = db.collection('configs').doc('jORwjIykFo2NmkdzTkhU')

      Vue.use(Vuex)

      var { Store, mapState } = Vuex
      var { firestoreAction, vuexfireMutations } = Vuexfire
      Vuexfire.firestoreOptions.wait = true

      var store = new Vuex.Store({
        strict: true,
        state: {
          todos: [],
          tweets: [],
          moments: [],
          config: null,
        },

        mutations: vuexfireMutations,

        actions: {
          bindRef: firestoreAction(function(context, payload) {
            context.bindFirestoreRef(payload.name, payload.ref, payload.options)
          }),

          init: firestoreAction(function(context) {
            context.bindFirestoreRef('config', config)
            context.bindFirestoreRef('todos', currentTodos)
            context.bindFirestoreRef('tweets', db.collection('tweets'))
            context.bindFirestoreRef('moments', db.collection('moments'))
          }),
        },
      })

      new Vue({
        el: '#app',
        store,
        data: {
          newTodoText: '',
        },

        computed: mapState(['todos', 'tweets', 'moments', 'config']),

        methods: {
          addTodo: function() {
            if (this.newTodoText) {
              todos.add({
                finished: false,
                text: this.newTodoText,
                created: firebase.firestore.FieldValue.serverTimestamp(),
              })
              this.newTodoText = ''
            }
          },
          updateTodoText: function(todo, newText) {
            todos.doc(todo.id).update({ text: newText })
          },
          removeTodo: function(todo) {
            todos.doc(todo.id).delete()
          },
          toggleTodos: function() {
            currentTodos = currentTodos === unFinishedTodos ? finishedTodos : unFinishedTodos
            this.$store.dispatch('bindRef', {
              name: 'todos',
              ref: currentTodos,
            })
          },
        },

        created: function() {
          this.$store.dispatch('init')
        },
      })
    </script>
  </body>
</html>

